/************************************/
/* Base Colors */
/************************************/

:root {
  --primary-color: #113276;
  --secondary-color: #0d2558;
  --accent-color: #900;
  --accent-hover: #800;

  --white-color: #fff;
  --white-bg-text: #f7f7f7;

  --heading-text: #333;
  --body-text: #555;
  --shodow-color: rgba(0, 0, 0, 0.075);

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#offCanvasNav {
  display: block;
  z-index: 9999;
}
.btn-mobile-nav {
  display: block;
  z-index: 9999;
}
.off-canvas {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.off-canvas a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.off-canvas a:hover {
  color: #f1f1f1;
}

.off-canvas .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
